<div
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center">

  <mat-list >

      <mat-card mat-list-item class="welcome">
        <mat-card-title>ACTIVITY</mat-card-title>
        <mat-card-content>
          <p>Stay active and enjoy better health and more fun!</p>
        </mat-card-content>
      </mat-card>


      <mat-card mat-list-item class="welcome">
        <mat-card-title>COMMUNITY</mat-card-title>
        <mat-card-content>
          <p>Get to know other people who share your passion!</p>
        </mat-card-content>
      </mat-card>


      <mat-card mat-list-item class="welcome">
        <mat-card-title>CHALLENGES</mat-card-title>
        <mat-card-content>
          <p>Never STOP! Dive deep into new challenges every dat!</p>
        </mat-card-content>
      </mat-card>

  </mat-list>
</div>
